<connectionStrings>
  <!--Server=9a761585-743d-437a-94cf-a20800fd7f22.sqlserver.sequelizer.com;Database=db9a761585743d437a94cfa20800fd7f22;User ID=zrlwmsaogvvbjrhu;Password=WyVaKYUcRDtQaUxqAS8zrVse264ttQGPX5surFcPLKfjmwttAqVuJz2afRhN5zQb;-->
  <add name="Galeria.Local" connectionString="Data Source=WMXAP250360-0B6;Initial Catalog=Galeria;User ID=sa;Password=Hello/123"/>
  <add name="Galeria.Remote" connectionString="Server=c3503431-08a9-4eb0-8027-a3830129ddc8.sqlserver.sequelizer.com;Database=dbc350343108a94eb08027a3830129ddc8;User ID=hrhdkhuqfglqqhur;Password=UnCvNDPBVUehquDXXUj6DWz8SRwwgbsF37wjuLsUaWtLnPxZTKX3iZm7VCK6hrvU;"/>
</connectionStrings>
